* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 2.2em;
    margin: 14px 0;
}

h2 {
    margin: 16px 10px;
}

.container {
    border: 2px solid black;
    margin: 15px 0;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* Визуализация блока "Colors" */

.colors {
    margin: 10px 0;
}

.color-container {
    margin: 10px 10px 20px 10px;
}

.box {
    display: inline-block;
    width: 430px;
    height: 100px;
    margin: 10px 2px 10px 0;
}

.cool-blue {
    background-color: #2d5dcc;
}

.pink {
    background-color: #d957d9;
}

.mint-green {
    background-color: #4fe0b0;
}

.beige {
    background-color: #efd9ca;
}

.info {
    margin: 6px 2px 0 2px;
    text-align: center;
    line-height: 2em;
    font-size: 1.35em;
}

/* Визуализация блока "Fonts" */

.font-container {
    margin: 10px 10px 20px 10px;
}

.font-panel {
    display: inline-block;
    margin: 10px 30px 20px 0;
    font-size: 1.5em;
    line-height: 1.6em;
}

.font-label {
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 10px;
}

.source-code-pro {
    font-family: "Source Code Pro";
}

.nunito-sans {
    font-family: "Nunito Sans";
}

.poppins {
    font-family: Poppins;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* Визуализация блока Text Style */

.styles-container {
    margin: 10px 10px 20px 10px;
}

ul {
    border: 2px solid black;
    margin-left: 20px;
}

.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }