* {
    margin: 0;
    padding: 0;
}

body {
    width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 2.2em;
    margin: 14px 0;
}

h2 {
    margin: 16px 0;
}

.container {
    border: 2px solid black;
    margin: 15px 0;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* Добавление блока "Colors" */

.colors {
    margin: 10px 0;
}

.color-container {
    margin: 10px 10px 20px 10px;
}

.box {
    display: inline-block;
    width: 430px;
    height: 100px;
    margin: 10px 2px 10px 0;
}

.cool-blue {
    background-color: #2d5dcc;
}

.pink {
    background-color: #d957d9;
}

.mint-green {
    background-color: #4fe0b0;
}

.beige {
    background-color: #efd9ca;
}


/* Добавление блока "Fonts" */

.font-container {
    margin: 10px 10px 20px 10px;
}

.font-panel {
    display: inline-block;
    
}