* {
    margin: 0;
    padding: 0;
}

body {
    width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 2.2em;
    margin: 14px 0;
}

h2 {
    margin: 16px 10px;
}

.colors {
    border: 2px solid black;

}

.color-container {
    margin: 10px 10px 20px 10px;
}

.box {
    display: inline-block;
    width: 430px;
    height: 100px;
    margin: 10px 2px 10px 0;
}

.cool-blue {
    background-color: #2d5dcc;
}

.pink {
    background-color: #d957d9;
}

.mint-green {
    background-color: #4fe0b0;
}

.beige {
    background-color: #efd9ca;
}